.form-control {
  border-radius: 20px;
}

.btn-search {
  border-radius: 20px;
}

.image-banner {
  border-radius: 30px;
  width: 100%;
  height: 350px;
}

@media only screen and (max-width: 768px) {
  .image-banner {
    border-radius: 10px;
    height: 100%;
  }
}
