footer .subscribe {
    position: relative;
}

footer .subscribe .btn-submits {
    background: #614ad3 !important;
    height: 40px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

footer .subscribe .form-control {
    background-color: lighten(#ccc, 10%);
    box-shadow: none;
    border-radius: 8px;
    height: 50px;
    padding-left: 14px;
    padding-right: 130px;
    border: none;
    color: #343a40;
}

footer .footer-link {
    color: $light;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: rgb(189, 187, 206);
    }
}

@media only screen and (max-width: 768px) {
    footer .icon-media-footer {
        font-size: 100%;
    }
}
